/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'ChuckWarren';
    src: url('ChuckWarrenDesignSH.woff2') format('woff2'),
        url('ChuckWarrenDesignSH.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding:0;
}


.container{
    background:url("");
    height: 200vh;
    background-size: 100% 100%;
    opacity: 0,5;
    background-color: blue;
}

.container .navbar{
    width: 100%;
    height: 80px;
    background:rgba(0, 13, 128, 0.4) ;
}

.page{
    background:url("helpbackgroung1.jpg");
    height: 200vh;
    background-size: 100% 100%;
    opacity: 0,5;
    background-color: rgb(3, 11, 136);
}

.page .navbar{
    width: 100%;
    height: 80px;
    background:rgba(0, 68, 255, 0.4) ;
}

.navbar .logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
    font-family:"ChuckWarren";
}

.navbar .logo a{
    text-decoration: none;
    font-size: 30px;
    font-family:"ChuckWarren";
    color: aliceblue;
}

.navbar ul{
    float:right;
    margin-right: 20px;
    font-family:"ChuckWarren";
}

.navbar ul li{
    list-style: none;
    display:inline-block;
    margin: 0 64px;
    line-height: 80px;
    font-family:"ChuckWarren";
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family:"ChuckWarren";
}

.container .center h2{
    position: absolute;
    top: 25%;
    left: 5%;
    transform: translate(25% 5%);
}

.center h2{
    color: aliceblue;
    font-weight: 200;
    font-size: 40px;
    font-family:Arial;
}

.center p{
    color: aliceblue;
    font-size: 20px;
    font-weight: 100;
    font-family: Arial;
    position:absolute;
    top: 35%;
    left: 5%;
}


.left h2{
    color: aliceblue;
    position: absolute;
    top: 60%;
    left: 10%;
    font-family: 'Poppins', sans-serif;

}
.m2 h2{
    color: aliceblue;
    position: absolute;
    top: 70%;
    left: 10%;
    font-family: 'Poppins', sans-serif;

}
.madde3 h2{
    color: aliceblue;
    position: absolute;
    top: 80%;
    left: 10%;
    font-family: 'Poppins', sans-serif;

}
.m4 h2{
    color: aliceblue;
    position: absolute;
    top: 90%;
    left: 10%;
    font-family: 'Poppins', sans-serif;

}
.m5 h2{
    color: aliceblue;
    position: absolute;
    top: 100%;
    left: 10%;
    font-family: 'Poppins', sans-serif;

}
.m6 h2{
    color: aliceblue;
    position: absolute;
    top: 110%;
    left: 10%;
    font-family: 'Poppins', sans-serif;

}
.mson h1{
    color: aliceblue;
    position: absolute;
    top: 120%;
    left: 10%;
    font-family: 'Poppins', sans-serif;

}
.resim1{
    background-image: url("foto1hocam.jpg");
    height:500px;
    background-repeat:no-repeat;
    background-size: 500px;
    top: 20%;
    left: 20%;
}


::-webkit-scrollbar {
	width: 10px; /*genislik 10px olsun*/
	background-color: #000000; /*scrollbar arkaplan renk*/
	border-left: 1px solid #000000;  /*arkaplan sol tarafa cizgi cek*/
}
::-webkit-scrollbar-thumb {
	background-color:rgba(6, 25, 194, 0.4); /*scrollbar renk*/
	border-radius:15px /*oval olsun*/
}
::-webkit-scrollbar-thumb:hover { /*tiklandiginda*/
	background-color: rgba(19, 6, 194, 0.4);
}













